.card{
    width: 300px;
    height: auto;
    padding-left:15px;
    padding-right:15px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto;
    box-sizing: border-box;

    
  }


  
.card__imgframe{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
    padding-top: 56.25%;
    background: #bbb;
    box-sizing: border-box;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
  }
  
  .card__textbox{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #fff;
    box-sizing: border-box;
  }
  
  .card__textbox > * + *{
    margin-top: 10px;
  }
  
  .card__titletext{
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
    
  }
  
  .card__overviewtext{
    font-size: 12px;
    line-height: 150%;
  }

/* 親要素(コンテナ) */
.flex-container {
	display: flex;
	flex-wrap: wrap;
    align-content: space-around;
}
/* 子要素(アイテム) */
.flex-item {
	margin: 10px auto;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: #343434;
	color: #fff;
}

/*ヘッダー*/
#header{
    width:100%;
    text-align: center;
    margin-right:0;
    position:fixed;
    top:25px;
    right: 25px;
    margin-left: 50px;
}
.header_height{
    height: 50px;
    display:block;
}

body{
    margin:0px;
}

/**/
#top{
    display:block;
    text-align: center;
    background-size: cover;


}
.top_img{
    top:0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-position: center;
    display:block;
    background-size: cover;
    background-image:url(../img/top_img/PXL_20210320_050615462.PORTRAIT.jpg); /* 背景画像1を指定 */
}

.top_img2{
  top:0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-position: center;
  display:block;
  background-size: cover;
}




.display_size{
  width:auto;
  height: 100vh;
}

.image{
  position: relative;
}

#top p{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#top img{
  width: 100%;
  object-fit: cover;

}


#footer{
    width:auto;
    height: auto;

    text-align: center;
    color:rgba(255, 255, 255, 0.692);
    font-size: 1em;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.footer_color1{
  background-color: #4b4747;
}
.footer_color2{
  background-color: #252525;
}


#main{
  max-width: 1500px;
  scroll-behavior: smooth;
  background-color: #fff;

}
#main_back{
  text-align: center;
}

.category_card{
  padding:0px;
  margin: 0px;
  text-align: center;
  background-color: #fff;
}

a{
  color:inherit;
  text-decoration:none;
}